[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
Cython = "*"
# matham's next-gen async port of kivy
Kivy = {git = "git://github.com/matham/kivy.git", ref = "async-loop"}
tractor = {git = "git://github.com/tgoodlet/tractor.git", ref = "master"}
pdbpp = "*"
msgpack = "*"
trio = "*"

[dev-packages]
pytest = "*"
pdbpp = "*"
piker = {editable = true, path = "."}
