# we require a pinned dev branch to get some edge features that
# are often untested in tractor's CI and/or being tested by us
# first before committing as core features in tractor's base.
-e git+git://github.com/goodboy/tractor.git@master#egg=tractor

# `pyqtgraph` peeps keep breaking, fixing, improving so might as well
# pin this to a dev branch that we have more control over especially
# as more graphics stuff gets hashed out.
-e git+git://github.com/pikers/pyqtgraph.git@piker_pin#egg=pyqtgraph


# we own and maintain the async client for `marketstore` in our org
# `anyio_marketstore`:
-e git+git://github.com/pikers/anyio-marketstore.git@master#egg=anyio-marketstore
